<!--chat.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to the Chat Room chat ejs</h1>
    <div id="messages"></div>
    <form id="messageForm"> <!-- Hide the form by default -->
        <input type="text" id="messageInput" placeholder="Type a message...">
        <button type="submit">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>